.offers {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
}

@media (min-width: 1300px) {
  .offers {
    padding-inline: 10%;
  }
}

.offers__box__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 1rem;
}

.offers__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  gap: 1rem;
  transition: all 500ms ease;
}

.offers__box:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.offers__box__image {
  display: block;
  border-radius: 50%;
  height: 150px;
  aspect-ratio: 1 / 1;
}

.offers__box__header {
  font-size: clamp(1.25rem, 5vmin, 2rem);
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-greenMedium);
}

.offers__box__list {
  display: grid;
  gap: 0.5rem;
}

.offers__box__list__item {
  font-size: clamp(0.65rem, 3vmin, 0.85rem);
  font-weight: 600;
  line-height: 1.7;
}

.offers__box__button {
  background-color: var(--color-greenMedium);
  color: var(--color-light);
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  font-size: clamp(0.65rem, 3vmin, 1rem);
  font-weight: 600;
  line-height: 1.7;
  transition: all 500ms ease;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.offers__box__button:hover {
  scale: 1.1;
  transform: translateY(-3px);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.offers__box__button:active {
  transform: translateY(3px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
